.about {
    padding: 4% 8%;
    text-align: center;
}

.about p {
    font-size: 25px;
    color: #006ec7;
    font-weight: bold;
}

@media (max-width: 480px) {
    .about {
        padding: 8% 5%;
    }
    .about p {
        font-size: 17px;
    }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape)  {
    .about {
        padding: 6% 7% 3%;
    }

    .about p {
        font-size: 19px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .about {
        padding: 7% 5%;
    }
    .about p {
        font-size: 19px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .about {
        padding: 6% 10%;
    }
    .about p {
        font-size: 19px;
    }
}