/*** Headings ***/
.heading {
  text-align: center;
  margin-bottom: 5%;
}

.background-heading {
  text-align: center;
  position: relative;
  top: 17px;
  z-index: -1;
}

.background-heading h1 {
  font-size: 80px;
  font-weight: bold;
  color: #e6e8ef;
}

@media (max-width: 480px) {
  .heading {
    margin-bottom: 15%;
  }
  .background-heading {
    top: 10px;
  }
  .background-heading h1 {
    font-size: 40px;
  }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape)  {
  .heading {
    margin-bottom: 10%;
  }
  .background-heading {
    top: 10px;
  }
  .background-heading h1 {
    font-size: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .background-heading {
    top: 12px;
  }
  .background-heading h1 {
    font-size: 60px;
  }
}
