/*** Leaders ***/
.leaders {
  padding: 4% 15%;
}

.descriptions-of-leaders img {
  width: 50%;
  height: auto;
  margin-left: 30%;
}

.leaders .col-sm-5, .leaders .col-sm-7 {
  margin-bottom: 5%;
}

.leader-background {
  margin-top: 5%;
  margin-bottom: 3%;
}

.leader-background p {
  font-size: 25px;
  color: #006ec7;
}

.leader-background span {
  font-weight: 700;
}

.leader-background i {
  color:#f3c623;
  margin-bottom: 4%;
}

.leader-name {
  float: right;
}

.leader-name span {
  font-size: 16px;
  font-weight: normal;
}



@media (max-width: 480px) {
  .leaders {
    padding: 12% 5%;
  }
  .descriptions-of-leaders img {
    margin-left: 25%;
  }
  .leaders .col-sm-5, .leaders .col-sm-7 {
    margin-bottom: 10%;
  }
  .leader-background p {
    font-size: 17px;
    text-align: center;
  }
  .leader-name span {
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape)  {
  .leaders {
    padding: 8% 7%;
  }
  .descriptions-of-leaders img {
    width: 70%;
    margin-left: 10%;
  }
  .leaders .col-sm-5, .leaders .col-sm-7 {
    margin-bottom: 10%;
  }
  .leader-background p {
    font-size: 17px;
  }
  .leader-name span {
    font-size: 14px;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .leaders {
    padding: 7% 5%;
  }
  .descriptions-of-leaders img {
    width: 70%;
    margin-left: 5%;
    margin-top: 10%;
  }
  .leader-background p {
    font-size: 19px;
  }
  .leader-name {
    float: left;
  }
  .leader-name span {
    font-size: 15px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .leaders {
    padding: 6% 10%;
  }
  .leaders img {
    width: 65%;
    margin-left: 5%;
    margin-top: 5%;
  }
  .leader-background p {
    font-size: 19px;
  }
  .leader-name {
    float: left;
  }
  .leader-name span {
    font-size: 15px;
  }

}

/*** Logo background ***/
.logo-background  {
  position: absolute;
  left: 0%;
  top: 200%;
  z-index: -1;
  width: 65%;
}

@media (max-width: 380px) {
  .logo-background img {
    width: 100%;
    top: 323%;
  }
}

@media (max-width: 670px) and (orientation: landscape) {
  .logo-background img {
    width: 65%;
    top: 353%
  }
}

@media (min-width: 381px) and (max-width: 480px) {
  .logo-background img {
    width: 100%;
    top: 305%;
  }
}

@media (min-width: 681px) and (max-width: 767px) and (orientation: landscape)  {
  .logo-background img {
    width: 65%;
    top: 312%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo-background img {
    width: 75%;
    top: 183%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .logo-background img {
    width: 75%;
    top: 240%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .logo-background img {
    top: 180%;
  }
}
