/***h1 = 40px, h2 = 32px, h5 = 20px, h6 = 16px***/
body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
}

h1, h5, h6 {
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 3% 15% 30px;
  background-color: #393e46;
  color:  white;
  font-weight: bold;
}

hr {
  border: solid 2px #006ec7;
  width: 80px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
  h5 {
    font-size: 15px;
  }
  hr {
    border: solid 1px #006ec7;
    width: 50px;
  }
}


@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  h1 {
    font-size: 33px;
  }
  h5 {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  h1 {
    font-size: 36px;
  }
  h5 {
    font-size: 17px;
  }

}



/*** Buttons ***/
.btn-outline-light {
  padding: 2% 5%;
  background-color: #f3c623;
  border: none;
  border-radius: 0;
  font-weight: bold;
}

.btn-outline-light:hover {
  background-color: #f3c623;
  color: white;
  transform: scale(1.1);
}

.navbar-nav .btn-outline-light {
  padding: 10px 25px;
}

@media (max-width: 1024px) {
  .btn-outline-light {
    padding: 3% 5%;
  }
}
